.social-media {
    padding-top:4rem;
    height: 15rem;
    background-color: #ffffff; /* Dark background for contrast */
    color: rgb(0, 0, 0) !important;
}

.straight-line {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.line-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.line-title hr {
    border: 2px solid rgb(0, 0, 0); /* Thicker white line */
    width: 60%;
}
.socials{
    display: flex;
    align-items: center;
    gap:20px;
}
.socials>a>img{
    border:solid 1px;
    border-radius:10px;
    padding:3px;
    cursor: pointer;
}
.socials>a>img:hover{
    padding:10px;
    transition: background-color 0.3s ease-in-out;
}
@media (max-width:512px) and (min-width:0px){
    .line-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .straight-line {
        display: flex;
        flex-direction: column;
        gap:20px;
        justify-content:center;
        align-items: center;
    }
}
